.btn{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:18px 15px 15px;
    border-radius:2px;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:500;
    color:black;
    background-color:white;
    text-align:center;
    transition: all 0.2s;
    float: right;
}

.btn:hover{
    background-color:#4095c6;
    cursor: pointer;
}

.btn:active{
    color: red;
}
