.header {
  display: flex;
  flex-direction: row;
  flex: 6 0 0;
  justify-content: center;
  width: 100%;
  border-bottom: solid;
  border-color: lightgray;
  border-width: 2px;
  padding: 5px;
}

.company-logo{
  display: flex;
  margin-top: 5px;
  margin-right: 100px;
  width: 200px;
  height: 50px;
}

.search-bar{
  display: flex;
  text-align: left;
  width: 400px;
  height: 30px;
  margin-top: 15px;
  margin-left: 10px;
  margin-right: 30px;
  padding-left: 10px;
  box-shadow: 1.2px 1.2px lightgray;
}

.btn-premium{
  display: flex;
  padding: 10px;
  margin: 10px;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border-radius: 6px;
}

.btn-premium:active{
  background-color: cornflowerblue;
}

.btn-premium:hover{
  cursor: pointer;
  background-color: cornflowerblue;
}

.explore-text{
  display: flex;
  padding: 5px;
  margin-left: 5px;
  color: dimgray;
  font-weight: normal;
}

.explore-text:hover{
  cursor: pointer;
  color: black;
}

.sign-up-text{
  display: flex;
  padding: 5px;
  margin-left: 5px;
  color: dimgray;
  font-weight: normal;
}

.sign-up-text:hover{
  cursor: pointer;
  color: black;
}

.sign-in-text{
  display: flex;
  padding: 5px;
  margin-left: 5px;
  color: dimgray;
  font-weight: normal;
}

.sign-in-text:hover{
  cursor: pointer;
  color: black;
}
