.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1;
  border-bottom: solid;
  border-color: lightgray;
  border-width: 2px;
  padding: 5px;
}

.dark-mode{
  background-color: #1a1919;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1;
  border-bottom: solid;
  border-width: 1px;
  border-color: lightgrey;
  padding: 5px;
}

.light-mode{
  background-color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1 1;
  border-bottom: solid;
  border-width: 1px;
  border-color: #dbdbdb;
  padding: 5px;
}

.company-logo{
  display: flex;
  margin-top: 5px;
  width: 200px;
  height: 50px;
  margin-right: auto;
}

.search-bar{
  display: flex;
  text-align: left;
  width: 500px;
  height: 30px;
  margin-top: 15px;
  padding-left: 10px;
  margin-right: auto;
  box-shadow: 1.2px 1.2px lightgray;
  border-radius: 12px;
}

.btn-premium{
  display: flex;
  background-color: dodgerblue;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 6px;
  border-style: none;
  justify-content: center;
  padding-top: 12px;
  padding-bottom: 12px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-premium:active{
  background-color: cornflowerblue;
}

.btn-premium:hover{
  cursor: pointer;
  background-color: cornflowerblue;
}

.explore-text{
  display: flex;
  padding: 5px;
  margin-left: 30px;
  margin-top: 18px;
  color: dimgray;
  font-weight: normal;
  font-size: 15px;
}

.explore-text:hover{
  cursor: pointer;
  color: black;
}

.sign-up-text{
  display: flex;
  padding: 5px;
  margin-right: 15px;
  margin-top: 18px;
  color: dimgray;
  font-weight: normal;
  margin-left: 10px;
  font-size: 15px;
  justify-content: center;
}

.sign-up-text:hover{
  cursor: pointer;
  color: black;
}

.sign-in-text{
  display: flex;
  padding: 5px;
  margin-left: 10px;
  margin-top: 18px;
  color: dimgray;
  font-weight: normal;
  font-size: 15px;
}

.sign-in-text:hover{
  cursor: pointer;
  color: black;
}

.light-toggle{
  background-color: #59AFFF;
  border-style: none;
  border-radius: 5px;
  color: white;
  font-size: 16px;
  font-weight: bold;
}
