.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  opacity: 95%;
}

.modal-hidden {
  display: none;
}

.content {
  background-color: whitesmoke;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.review-title{
  display: flex;
  border-style: solid;
  border-width: 1.2px;
  border-radius: 10px;
  padding: 5px;
  width: 225px;
  border-color: #999999;
}

.review-comment{
  display: flex;
  border-bottom: solid;
  border-width: 1px;
  border-color: #d6d6d6;
  padding-bottom: 10px;
}

.rating-image{
  height: 15px;
  width: 15px;
}