.serviceCard {
  display: flex;
  flex-direction: row;
  background-color: white;
  margin-bottom: 8px;
  margin-top: 8px;
  font-family: "Verdana";
  width: 45%;
  height: 22%;
  border-bottom: solid;
  border-color: lightgray;
  border-width: 1px;
  font-weight: bold;
}

.serviceCard:hover{
  box-shadow: 3px 3px lightgray;
  cursor: pointer;
}