.service-card-navigation {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-card-navigation .hourly-rate {
  text-align: center;
  margin-top: 5px;
  font-weight: bold;
}

.service-card-navigation .view-profile{
  color:white;
  background-color: dodgerblue;
  padding: 5px;
  top: 75px;
  right: 20px;
  font-size: 15px;
  margin-bottom: 5px;
  margin-right: 5px;
}

.num-reviews{
  color:black;
}