.service-card {
  display: flex;
  flex-direction: row;
  margin-bottom: 8px;
  margin-top: 8px;
  width: 28%;
  border-bottom: solid;
  border-color: lightgray;
  border-width: 1px;
}

.service-card:hover{
  box-shadow: 3px 3px lightgray;
  cursor: pointer;
}