.serviceCardDetails {
  background-color: white;
  display: flex;
  flex-direction: column;
  flex-grow: 2;
  margin: 5px 10px 10px 0;
}

.serviceCardDetails .company-name{
  margin: 5px 5px;
}

.serviceCardDetails .title{
  font-weight: bold;
  margin: 5px 5px;
}

.serviceCardDetails .total-hires{
  font-size: 14px;
  position: relative;
  left: 5px;
  color: gray;
}

.serviceCardDetails .service-card-tag{
  display: flex;
  font-size: 14px;
  width: 120px;
  height: 15px;
  border-style: solid;
  justify-content: center;
  border-width: 1px;
  border-radius: 10px;
  margin-left: 5px;
  background-color: lightgreen;
}