.service-card-navigation {
  display: flex;
  flex-direction: column;
  justify-items: center;
}

.service-card-navigation .hourly-rate {
  display: flex;
  justify-content: center;
  padding: 10px;
  font-weight: bold;
}

.service-card-navigation .view-profile{
  display: flex;
  background-color: #59AFFF;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  margin: 10px;
  border: none;
  font-size: 18px;
  justify-content: center;
  width: 125px;
  margin-top: 30px;
}

.view-profile:hover{
  cursor: pointer;
  background-color: royalblue;
}

.view-profile:active{
  background-color: cornflowerblue;
}

.num-reviews{
  display: flex;
  color: gray;
  font-size: 15px;
  justify-content: center;
}

.read-more-text:hover{
  cursor: pointer;
  color: gray;
}

.read-more-text{
  display: flex;
  color: deepskyblue;
  font-size: 15px;
}

.msg-img{
  display: flex;
  flex-direction: column;
  width: 20px;
  height: 20px;
  padding-left: 5px;
  margin-left: auto;
}

.contact-text{
  display: flex;
  flex-direction: column;
  color: darkgray;
  font-size: 12px;
}

.contact-text:hover{
  cursor: pointer;
  opacity: 75%;
}