.serviceCardNavigation {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 10px 10px 10px 0;
  font-family: "Verdana", serif;
  padding: 5px 5px;
  position: relative;
  bottom: 6px;
}

.view-profile{
  color:white;
  background-color: dodgerblue;
  height: 30px;
  position: relative;
  top: 75px;
  right: 20px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
}

.num-reviews{
  color:black;
}