.sign-in-content{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sign-in-sidebar-body{
  display: flex;
  height: 930px;
  justify-content: space-between;
}

.title{
  display: flex;
  color: #30A8FF;
  justify-content: space-between;
  margin-top: 350px;
  font-size: 25px;
  margin-left: 500px;
}

.signin-search-bar{
  margin: 15px;
  margin-left: 445px;
  display: flex;
  width: 50%;
  justify-content: space-between;
  font-size: 18px;
  height: 30px;
  border-radius: 20px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1.5px 1.5px #dbdbdb;
  text-align: left;
  padding-left: 10px;
}

.signin-search-bar:hover{
  cursor: pointer;
  opacity: 70%;
}

.pass{
  display: flex;
  margin-left: 530px;
  justify-content: space-between;
  font-size: 15px;
  margin-top: 20px;
  color: #30A8FF;
  opacity: 80%;
}

.pass:hover{
  cursor: pointer;
  opacity: 45%;
}

.redirect-back{
  display: flex;
  justify-content: space-between;
  margin-left: 570px;
  font-size: 15px;
  margin-top: 380px;
  color: #30A8FF;
  text-decoration: none;
}

.redirect:hover{
  cursor: pointer;
  opacity: 50%;
}